#nevjegy {
  background-color: purple;
  position: fixed;
  width: 400px;
  text-align: center;
  color: white;
  padding: 7px;
  top: 40px;
  transform: rotate(45deg);
  right: -130px;
  font-size: 13px;
  border: solid 3px gray;
}
